[submodule "modules/pcre2"]
	path = modules/pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "modules/re2"]
	path = modules/re2
	url = https://github.com/google/re2
[submodule "modules/cre2"]
	path = modules/cre2
	url = https://github.com/marcomaggi/cre2.git
